#container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {
    margin: auto;
    width: 80%;
}

.title {
    text-align: center;
    margin: 1rem;
}

.produit {
    margin: 2rem;
    padding: 1rem;
    box-shadow: 0 0 10px rgb(0 0 0 / 21%);
    line-height: 2rem;
    border-radius: 1rem;
    overflow: hidden;
}

.produit__img {
    max-width: 50%;
    border-radius: 1rem;
}

.produit__price, .produit__total {
    font-weight: bold;
}